.footer {
    background-color: #eeebeb;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    height: 315px;
    /* width: 100%; */
    overflow: hidden;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }
  
  .footer-section {
    width: 20%;
  }
  
  .footer-section h3 {
    font-size: 16px;
    margin-bottom: 11px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eaeaea;
    padding-top: 13px;
    font-size: 10px;
  }
  
  .footer-bottom ul {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  .footer-bottom ul li {
    margin-right: 16px;
  }
  
  .footer-bottom ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .footer-bottom ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-country {
    display: flex;
    align-items: center;
  }
  
  .footer-country span {
    margin-right: 5px;
  }
  