.hero {
    /* background-color: rgb(154, 228, 228); */
    background-image: url(/assets/Herooo.jpg);
    /* background-clip: url(/assets/homeVideo.mp4); */
    height: 90vh;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
    justify-content: center;
    margin-top: -1.5em;
    background-size: cover;
    /* padding: auto; */
}
.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
 .head1 h1 {
    color: rgb(21, 22, 24);
    text-align: center;
    /* margin: auto; */
    
    justify-content: center;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head2 p {
    color: aliceblue;
    text-align: center;
    /* margin: auto; */
    margin-top: 8em;
    justify-content: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
    background-color: inherit;
    border: 1px solid rgb(232, 232, 235);;
    /* border-color: white ; */
    color: rgb(230, 232, 238);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 49em;
    
}
