/* src/app/navbar/navbar.component.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.navbar-logo img {
  height: 30px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-right: 20px;
  position: relative;
  font-size: 16px;
  cursor: pointer;
}

.navbar-item:hover .dropdown-content {
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100vw; /* Full width */
  justify-content: space-around; /* Evenly space the dropdown sections */
  z-index: 1000;
}

.dropdown-section {
  width: 200px;
}

.dropdown-section h4 {
  margin: 0;
  font-size: 14px;
  margin-bottom: 10px;
  color: #333;
}

.dropdown-section ul {
  list-style: none;
  padding: 0;
}

.dropdown-section ul li {
  margin-bottom: 8px;
}

.dropdown-section ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.dropdown-section ul li a:hover {
  text-decoration: underline;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icons .icon {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}
