.crypto-section {
    text-align: center;
    padding: 20px;
  }
  
  .crypto-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 184;
  }
  
  .crypto-section span {
    color: #a2bfdb; /* Adjust the color to match your design */
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .feature {
    flex: 1;
    min-width: 200px;
    margin: 20px;
    text-align: center;
  }
  
  .feature img {
    width: 150px;
    height: 150px;
    /* margin-bottom: 10px; */
  }
  
  .feature h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 384;
  }
  
  .feature p {
    font-size: 1em;
    color: #666;
  }
  