/* banner.component.css */
.banner-container {
  background-color: #f8f9fa; /* Light grey background */
  text-align: center; /* Center the text */
  padding: 10px 0; /* Minimal padding above and below the text for a smaller height */
}

.banner-container h1 {
  font-size: 4rem; /* Smaller font size for the title */
  color: #343a40; /* Dark grey color for the text */
  margin-bottom: 5px; /* Minimal space below the title */
}

.banner-container p {
  font-size: 0.8rem; /* Smaller font size for the tagline */
  color: #6c757d; /* Medium grey color for the text */
}
