.container {
    /* background-color: #f7fafc; */
    background: linear-gradient(to bottom, #fcfcfc, #ececea);
    padding: 4rem 0;
    display: flex;
    /* margin-top: 15em; */
  }
  
  .inner-container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
  h1 {
    font-size: 2rem; /* Reduced from 3rem */
    color: #333; /* Darker text color */
    font-weight: 400;
  }
  h4 {
    font-weight: 200;
  }
  
  .highlight {
    background: linear-gradient(90deg, #008cff, #1b1c66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  h2 {
    font-size: 1.875rem;
    font-weight: 800;
    color: #1a202c;
    margin-bottom: 2rem;
  }
  
  .grid {
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  
  @media (min-width: 640px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .card {
    background-color: rgb(252, 252, 252);
    border-radius: 0.4rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.7s;
    width: 300px;
    display: inline-table;
  }
  
  .card:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  
  .img-container {
    position: relative;
    overflow: hidden;
  }
  
  .img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    transition: transform 0.7s;
  }
  
  .img-container:hover .img {
    transform: scale(1.1);
  }
  
  .content {
    padding: 1.5rem;
  }
  
  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #1a202c;
    margin-bottom: 0.5rem;
  }
  
  p {
    color: #4a5568;
    margin-bottom: 1rem;
  }
  
  .button {
    color: black;
    font-weight: 100;
    display: flex;
    text-align: center;
    align-items: center;
    transition: color 0.3s;
    border-radius: 5em;
    align-items: right;
    margin: auto;
    background-color: inherit;
    height: 35px;
    /* margin-right: 20em; */
  }
  
  .button:hover {
    color: #070707;
    background-color: aliceblue;
  }
  
  .arrow {
    margin-left: 0.5rem;
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(0.25rem);
    }
  }
  