.marketing-container {
    padding: 20px;
    text-align: center;
  }
  
  .cards-container {
    display: inline-flex;
    justify-content: space-around;
    overflow-x: hidden;
    max-width: 1898px;
    /* padding: auto; */
    /* padding: 5px 0; */
  }
  
  .card {
    background: #fff;
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    flex: 0 0 22%;
    /* margin: 0 10px; */
    /* padding: 20px; */
    text-align: left;
    transition: transform 0.3s;
    max-width: 900px;
    padding: auto;
  }
  
  .card img {
    /* border-radius: 8px 8px 0 0; */
    max-width: 100%;
    height: auto;
  }
  
  .card h3 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .card p {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 15px;
  }
  
  .card button {
    /* background-color: #d32f2f;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    font-size: 1em;
    display: inline-block;
    margin-top: 10px; */
    color: black;
    font-weight: 100;
    display: inline-block;
    text-align: center;
    align-items: center;
    transition: color 0.3s;
    border-radius: 1em;
    align-items: right;
    margin: auto;
    background-color: inherit;
    height: 35px;
    cursor: pointer;
  }
  
  .card button:hover {
    /* background-color: #c12727; */
    color: #faf8f8;
    background-color: rgb(7, 7, 7);
  }

  .img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    transition: transform 0.7s;
  }
  
  .card:hover .img {
    transform: scale(1.1);
  }
  